// Mixins

@mixin fr {
  display: flex;
  flex-direction: row;
}
@mixin fc {
  display: flex;
  flex-direction: column;
}

@mixin aic {
  display: flex;
  align-items: center;
}

@mixin jcc {
  display: flex;
  justify-content: center;
}
@mixin inria {
  font-family: 'Inria', sans-serif;
}

a {
  @include inria();
  text-decoration: none;
  color: #000;
}

p {
  @include inria();
}

h1 {
  @include inria();
}

//Color Scheme
.scheme {
  background-color: #010b12;
  others: #010b12;
  numbers: #39ff13;
  buttons: #9cff00;
  green: #0c8900;
  lighter: #2bc20e;
}
